<DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <h1>This is {{ansible_hostname}} ({{inventory_hostname}}) at {{ansible_host}}</h1>
    </body>
</html>

